.about-service {
  background-color: #192144;
  color: #ffffff;

  &__wrapper-background {
    padding-bottom: 82px;
    position: relative;
    background-color: #192144;
    border-radius: 0 0 30px 30px;
  }

  &__image {
    position: absolute;
    top: -15px;
    left: 18px;
  }

  &__wrapper-all {
    display: flex;
  }

  &__wrapper {
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 35px;
  }

  &__back-square {
    position: absolute;
    display: block;
    top: -15px;
    left: 0;
    width: 132px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 10px;
  }

  &__title {
    position: relative;
    margin-bottom: 20px;
    z-index: 20;
  }

  &__paragraph {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 20;

    &:first-of-type {
      font-weight: 300;
    }

    &:last-of-type {
      font-weight: bold;
    }
  }

  &__more {
    display: none;
  }

  p:first-of-type {
    margin-bottom: 18px;
  }
}

@media (min-width: @tab-width) {
  .about-service {
    position: relative;
    padding-bottom: 3px;
    padding-top: 58px;
    border-radius: 0 0 60px 60px;

    &__back-square {
      top: -43px;
      left: 40px;
      width: 688px;
      height: 213px;
      border-radius: 20px;
    }

    &__wrapper {
      width: 300px;
      padding-top: 0;
      padding-left: 35px;
      padding-right: 0;
      box-sizing: border-box;
    }

    &__wrapper-all {
      position: relative;
    }

    &__wrapper-background {
      padding-bottom: 85px;
      top: 0;
      background: none;
    }

    &__title {
      margin-bottom: 40px;
    }

    &__more {
      display: flex;
      width: 209px;
    }

    &__image {
      position: absolute;
      top: 4px;
      left: 345px;
      width: 376px;
      height: 548px;
      display: block;
    }

    &__paragraph:last-of-type {
      width: 300px;
      margin-bottom: 50px;
      font-size: 21px;
      line-height: 25px;
    }

    p:first-of-type {
      width: 300px;
      margin-bottom: 32px;
    }
  }
}

@media (min-width: @desk-width) {
  .about-service {
    padding-top: 133px;
    padding-bottom: 76px;

    &__wrapper-all {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__wrapper {
      margin-left: 70px;
      padding-left: 0;
      min-width: 620px;
    }

    &__back-square {
      position: absolute;
      top: -62px;
      left: 60px;
      width: 213px;
      height: 213px;
    }

    &__image-wrapper img {
      width: 630px;
      height: 667px;
    }

    &__image {
      top: -50px;
      left: 690px;
    }

    &__title {
      margin-bottom: 58px;
    }

    p:first-of-type {
      width: 645px;
      margin-bottom: 37px;
    }

    &__paragraph:last-of-type {
      width: 420px;
      margin-bottom: 83px;
    }
  }
}
