.about-service {
  background-color: #192144;

  color: #ffffff;

  &__wrapper-background {
    position: relative;

    background: url("../img/about-mobile@1x.png") no-repeat 50% 50%;
    background-color: #192144;
    width: 100%;
    background-size: cover;
    height: 352px;
    border-radius: 0 0 30px 30px;
  }

  &__wrapper-all {
    display: none;
  }

  &__wrapper {
    padding-top: 30px;
    padding-left: 15px;
  }

  &__title {
    margin-bottom: 21px;
  }

  &__paragraph {
    margin: 0;
    padding: 0;
  }

  &__more {
    display: none;
  }

  &__image {
    display: none;
  }

  p:first-of-type {
    margin-bottom: 25px;
  }
}

@media(min-width: @tab-width) {

  .about-service {
    padding-bottom: 250px;

    &__wrapper-all {
      display: flex;
    }

    &__wrapper {
      width: 382px;
      padding-top: 0;
      box-sizing: border-box;
    }

    &__wrapper-background {
      background: none;
    }

    &__more {
      display: block;
    }

    &__image {
      display: block;
    }
  }
}
