.add-plan {
  padding-top: 30px;
  padding-bottom: 66px;
  background-color: #d4d9eb;
  color: #1d2e5b;
  border-radius: 30px 30px 0 0;

  &__title-wrapper {
    margin-bottom: 29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-right: 35px;
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #1d2e5b;
  }

  &__inputs-wrapper {
    margin-bottom: 22px;
  }

  &__markers-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 47px;
    box-sizing: border-box;
  }

  &__marker {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #1d2e5b;
    border-radius: 50%;
    opacity: 0.3;

    &--active {
      opacity: 1;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 24px;
    padding-bottom: 22px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;

    &--non-first {
      padding-bottom: 13px;
    }
  }

  &__item-title-wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

  &__about-text {
    margin: 0;
    margin-bottom: 21px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
  }

  &__markers-list {
    display: none;
  }

  &__input-country {
    margin-bottom: 6px;

    &:nth-of-type(5) {
      margin-bottom: 25px;
    }
  }

  &__value-input {
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  &__checkbox-input {
    opacity: 0;
    width: 0;
    position: absolute;
  }

  &__checkbox-input:checked + .add-plan__checkbox-mark::before {
    display: block;
  }

  &__checkbox-input:focus + .add-plan__checkbox-mark {
    outline: 1px solid blue;
  }

  &__checkbox-mark {
    position: absolute;
    top: 439px;
    left: 50px;
    width: 24px;
    height: 24px;
    border: 1px solid #cbced9;
    border-radius: 3px;
    background-color: #ffffff;

    &::before {
      position: absolute;
      display: none;
      content: "";
      top: 8px;
      left: 8px;
      width: 10px;
      height: 10px;
      background: url("../../img/tick.svg") no-repeat 50% 50%;
    }
  }

  &__checkbox-label {
    padding-left: 40px;
    font-size: 15px;
    line-height: 15px;
    color: #444444;
    cursor: pointer;
  }

  &__checkbox-label:hover .add-plan__checkbox-mark {
    border-color: #959bb2;
  }

  &__checkbox-input:active + .add-plan__checkbox-mark {
    border-color: #e2e5f1;
    background-color: #e2e5f1;

    &::before {
      opacity: 0.3;
    }
  }

  &__calendar {
    margin-bottom: 21px;
  }

  &__arrow-bottom {
    display: block;
    margin-bottom: 6px;
    width: 100%;
    height: 10px;
    background: url("../../img/small-arrow.svg");
    background-repeat: no-repeat;
    background-position: 77% 0;
  }

  &__next-button {
    &--non-first {
      margin-bottom: 17px;
    }
  }

  &__prev-button {
    padding-left: 54px;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #161c35;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__prev-icon {
    display: none;
  }

  &__fun-wrapper {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__entertaiment-circle {
    display: block;
    position: absolute;
    top: 8px;
    left: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1d2e5b;

    &::after {
      position: absolute;
      content: "";
      top: 2px;
      right: 2px;
      width: 15px;
      height: 2px;
      background-color: #1d2e5b;
    }

    &::before {
      position: absolute;
      content: "";
      top: 2px;
      right: 15px;
      width: 2px;
      height: 281px;
      background-color: #1d2e5b;
    }

    &--last-item {
      &::before {
        display: none;
      }
    }
  }

  &__entertaiment-title {
    margin: 0;
    padding: 0;
    padding-left: 12px;
    margin-right: auto;
    font-size: 18px;
    line-height: 18px;
    color: #1d2e5b;
  }

  &__entertaiment-flag {
    position: relative;
    display: block;
    width: 35px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 15px;
      top: 5px;
      right: 43px;
      background: linear-gradient(to left, #ffffff 80%, transparent);
    }
  }

  &__textarea-wrapper {
    position: relative;
  }

  &__entertaiment-input {
    padding-top: 10px;
    padding-left: 14px;
    margin-bottom: 24px;
    width: 100%;
    height: 220px;
    border: 1px solid #cbced9;
    border-radius: 5px;
    font-family: "Blogger Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    text-align: left;
    vertical-align: top;
    box-sizing: border-box;
    resize: none;

    &:hover {
      border-color: #959bb2;
    }

    &:active {
      border-color: #161c35;
    }

    &::placeholder {
      opacity: 0.3;
    }

    &:default,
    &:empty {
      border-color: #cbced9;
    }

    &:invalid {
      border-color: #f47e7e;
    }
  }

  &__error-field {
    display: none;
    position: absolute;
    padding: 5px 10px;
    box-sizing: border-box;
    top: 179px;
    right: 1px;
    width: 220px;
    height: 40px;
    background-color: #ffefef;
    border-radius: 4px;

    & span {
      font-size: 14px;
      line-height: 16px;
      color: #ff0000;
    }
  }

  &__entertaiment-input:invalid ~ .add-plan__error-field {
    display: block;
  }

  &__submit-button {
    margin-bottom: 15px;
    font-family: "Blogger sans", "Arial", sans-serif;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: @tab-width) {
  .add-plan {
    padding-top: 49px;
    padding-bottom: 70px;

    &__title-wrapper {
      margin-bottom: 49px;
      padding: 0 35px;
      justify-content: space-between;
    }

    &__title {
      margin-right: 0;
      font-size: 36px;
      line-height: 50px;
    }

    &__markers-wrapper {
      width: 73px;
    }

    &__list {
      padding: 0 35px;
    }

    &__item {
      padding-top: 48px;
      padding-left: 43px;
      padding-right: 43px;
      padding-bottom: 56px;
      margin-bottom: 40px;
      border-radius: 30px;

      &--non-first {
        padding-bottom: 53px;
        margin-bottom: 50px;
      }
    }

    &__item-title-wrapper {
      margin-bottom: 34px;
      font-size: 36px;
      line-height: 36px;
    }

    &__about-text {
      padding-right: 20px;
      margin-bottom: 37px;
      font-size: 20px;
      line-height: 24px;
    }

    &__markers-list {
      display: none;
    }

    &__inputs-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__value-input {
      margin-bottom: 35px;
    }

    &__value-input:last-of-type {
      margin-bottom: 38px;
      order: 10;
    }

    &__checkbox-label {
      padding-left: 60px;
      margin-bottom: 34px;
      font-size: 20px;
      line-height: 18px;
      color: #1d2e5b;
      text-transform: uppercase;
      letter-spacing: 2px;
      order: 5;
    }

    &__checkbox-mark {
      top: 526px;
      left: 119px;
      width: 34px;
      height: 34px;

      &::before {
        top: 11px;
        left: 10px;
        width: 16px;
        height: 13px;
      }
    }

    &__calendar {
      margin-bottom: 51px;
    }

    &__input-country {
      margin-bottom: 15px;

      &:nth-of-type(5) {
        margin-bottom: 48px;
      }
    }

    &__lines {
      display: block;
      position: relative;
      margin-bottom: 37px;
      width: 100%;
      height: 1px;
      background-color: #d6d9e6;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 136px;
        width: 1px;
        height: 430px;
        background-color: #d6d9e6;
      }

      &::after {
        position: absolute;
        content: "";
        top: 368px;
        right: 131px;
        width: 10px;
        height: 70px;
        background: linear-gradient(to top, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &__arrow-bottom {
      display: none;
    }

    &__buttons-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__next-button {
      &--non-first {
        margin-bottom: 0;
      }
    }

    &__prev-button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 0;
      font-size: 24px;
      line-height: 24px;
      text-transform: none;
    }

    &__prev-icon {
      display: block;
      margin-right: 22px;
      width: 10px;
      height: 14px;
      background: url("../../img/triangle-arrow-left.svg") no-repeat 50% 50%;
    }

    &__fun-wrapper {
      margin-bottom: 28px;
    }

    &__entertaiment-line {
      margin-bottom: 25px;
      display: block;
      width: 100%;
      border-top: 1px solid #d6d9e6;
    }

    &__entertaiment-title {
      padding-left: 0;
      margin-right: auto;
      font-size: 30px;
      line-height: 18px;
      font-weight: bold;
    }

    &__entertaiment-flag {
      margin-right: 32px;
      width: 70px;
      height: 47px;

      &::before {
        display: none;
      }
    }

    &__entertaiment-input {
      padding-top: 18px;
      padding-left: 16px;
      margin-bottom: 45px;
      transform: translateX(2px);
      width: 499px;
      height: 142px;
      font-size: 20px;
      line-height: 24px;
    }

    &__error-field {
      top: 101px;
      right: 32px;
      width: 497px;
      height: 40px;

      & span {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &__entertaiment-circle {
      top: 42px;
      left: 520px;
      width: 15px;
      height: 15px;

      &::after {
        display: none;
      }

      &::before {
        top: 3px;
        right: 6px;
        width: 3px;
        height: 268px;
      }

      &--last-item {
        top: 16px;
      }
    }

    &__submit-button {
      margin-bottom: 0;
      width: 200px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: @desk-width) {
  .add-plan {
    position: relative;
    padding-bottom: 84px;
    border-radius: 60px 60px 0 0;

    &__title-wrapper {
      margin-bottom: 49px;
      padding: 0 70px;
      justify-content: space-between;
    }

    &__markers-wrapper {
      display: none;
    }

    &__list {
      padding: 0;
    }

    &__item {
      padding-top: 100px;
      padding-left: 160px;
      padding-right: 160px;
      padding-bottom: 105px;
      margin-bottom: 44px;
      border-radius: 60px;
    }

    &__top-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 39px;
    }

    &__item-title-wrapper {
      flex-direction: row;

      & span:first-child {
        margin-right: 8px;
      }
    }

    &__text-wrapper {
      width: 580px;
      margin-right: 234px;
    }

    &__about-text {
      padding-right: 0;
      margin-bottom: 0;
    }

    &__markers-list {
      display: block;
    }

    &__inputs-wrapper {
      padding-top: 55px;
      margin-bottom: 0;
      padding-bottom: 14px;
      max-height: 160px;
      justify-content: flex-start;
      align-items: baseline;
      border-top: 1px solid #d6d9e6;
      border-bottom: 1px solid #d6d9e6;
    }

    &__value-input:last-of-type {
      order: 0;
    }

    &__checkbox-label {
      position: absolute;
      top: 427px;
      right: 223px;
      margin-bottom: 0;
    }

    &__checkbox-mark {
      top: -10px;
      left: 0;
    }

    &__calendar {
      margin-bottom: 56px;
    }

    &__input-country {
      margin-bottom: 17px;

      &:nth-of-type(5) {
        margin-bottom: 57px;
      }
    }

    &__lines {
      margin-bottom: 62px;

      &::before {
        top: 0;
        right: 225px;
        width: 1px;
        height: 520px;
        background-color: #d6d9e6;
      }

      &::after {
        top: 470px;
        right: 220px;
        width: 10px;
        height: 70px;
        background: linear-gradient(to top, #ffffff 40%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &__prev-icon {
      margin-right: 26px;
    }

    &__fun-wrapper {
      margin-bottom: 28px;
    }

    &__entertaiment-line {
      margin-bottom: 74px;
    }

    &__entertaiment-title {
      padding-left: 0;
      margin-right: auto;
      font-size: 30px;
      line-height: 18px;
      font-weight: bold;
    }

    &__entertaiment-flag {
      margin-right: 117px;
    }

    &__textarea-wrapper {
      margin-bottom: 43px;

      &--last {
        margin-bottom: 56px;
      }
    }

    &__entertaiment-input {
      position: relative;
      padding-top: 24px;
      margin-bottom: 0;
      padding-left: 24px;
      transform: translateX(0);
      width: 730px;
    }

    &__error-field {
      padding: 10px 20px;
      top: 91px;
      right: 271px;
      width: 728px;
      height: 50px;

      & span {
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__entertaiment-circle {
      top: 92px;
      left: 767px;

      &::before {
        top: 3px;
        right: 6px;
        width: 3px;
        height: 268px;
      }

      &--last-item {
        top: 16px;
      }
    }

    &__submit-button {
      margin-bottom: 0;
      width: 200px;
      box-sizing: border-box;
    }
  }
}
