.all-companions {
  margin-top: -20px;

  padding-top: 40px;
  padding-bottom: 60px;

  background-color: #edeff6;

  &__show-more {
    margin-bottom: 30px;

    display: block;

    text-align: center;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: #1d2e5b;
    text-transform: uppercase;
  }
}
