.business-list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style: none;

  &__item {
    padding: 8px 0;
    border-top: 1px solid #e1e3e9;

    &:last-of-type {
      border-bottom: 1px solid #e1e3e9;
    }
  }

  &__paragraph {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-weight: lighter;
  }
}

@media (min-width: @tab-width) {
  .business-list {
    &__item {
      padding: 15px 0;
      font-size: 22px;
      line-height: 28px;
    }

    &__paragraph {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
