.companions {
  padding-top: 102px;
  margin-top: -30px;

  background-color: #192144;
  color: #ffffff;

  &__wrapper {
    padding-left: 25px;
    padding-right: 30px;
  }

  &__wrapper-background {
    position: relative;
    padding-bottom: 30px;
    border-radius: 0 0 30px 30px;
    background-color: #192144;
  }

  &__wrapper-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__image-wrapper {
    margin-bottom: 15px;
  }

  &__dark-square {
    display: block;
    position: absolute;
    top: -33px;
    left: -19px;
    width: 132px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 20px;
    z-index: 5;
  }

  &__smolov-back {
    display: block;
    position: absolute;
    top: -33px;
    left: 152px;
    width: 143px;
    height: 143px;
    background-image: url("../../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    border-radius: 10px;
    z-index: 5;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/smolov-back-desktop@2x.png");
      background-size: contain;
    }
  }

  &__rogovaya-back {
    display: block;
    position: absolute;
    top: 239px;
    left: -9px;
    width: 70px;
    height: 70px;
    background-image: url("../../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    border-radius: 5px;
    z-index: 5;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/rogovaya-back-mobile@2x.png");
      background-size: contain;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 19px;
    z-index: 10;
  }

  &__about {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    z-index: 10;

    &:first-child {
      font-weight: lighter;
    }

    &:last-child {
      margin-bottom: 57px;
      font-weight: bold;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
}

@media (min-width: @tab-width) {
  .companions {
    margin-top: -60px;
    padding-top: 201px;

    &__wrapper {
      padding-right: 220px;
      padding-left: 35px;
    }

    &__wrapper-content {
      padding: 0 40px;
    }

    &__wrapper-background {
      padding-bottom: 28px;
      border-radius: 0 0 60px 60px;
    }

    &__dark-square {
      top: -61px;
      left: 40px;
      width: 213px;
      height: 213px;
    }

    &__smolov-back {
      top: 285px;
      left: 40px;
    }

    &__rogovaya-back {
      top: -61px;
      left: 408px;
      width: 285px;
      height: 285px;
      background-size: 100%;
      border-radius: 20px;
    }

    &__title {
      margin-bottom: 57px;
    }

    &__about:first-of-type {
      font-weight: lighter;
      margin-bottom: 40px;
    }

    &__about:last-of-type {
      font-size: 21px;
      line-height: 25px;
      font-weight: bold;
    }

    &__list {
      margin-bottom: 70px;
      padding: 0 35px;
    }

    &__to-all {
      margin: 0 35px;
      margin-bottom: 60px;
    }
  }
}

@media (min-width: @desk-width) {
  .companions {
    padding-top: 163px;

    &__wrapper-content {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__wrapper {
      width: 470px;
      padding: 0;
      margin: 0;
      margin-left: 90px;
    }

    &__wrapper-background {
      padding-bottom: 104px;
    }

    &__dark-square {
      top: -36px;
      left: 60px;
    }

    &__smolov-back {
      top: 30px;
      left: 547px;
    }

    &__rogovaya-back {
      top: 283px;
      left: 191px;
      background-image: url("../../img/rogovaya-back-desktop@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/rogovaya-back-desktop@2x.png");
        background-size: contain;
      }
    }

    &__about:first-of-type {
      margin-bottom: 39px;
    }

    &__about:last-of-type {
      width: 280px;
    }

    &__list {
      margin: 0;
      padding: 0;
      order: 10;
    }

    &__title {
      margin-bottom: 53px;
    }

    &__to-all {
      margin: 0;
      width: 220px;
      position: absolute;
      align-self: baseline;
      top: 430px;
      left: 131px;
      z-index: 10;
    }
  }
}
