.companions-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    padding: 15px 20px 23px 18px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 20px;

    &:last-child {
      margin-bottom: 20px;
    }

    &:hover {
      box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &__top-wrapper {
    margin-bottom: 13px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__bottom-wrapper {
    margin-bottom: 13px;
    min-width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__image-wrapper {
    position: relative;
    margin-right: 15px;
    margin-bottom: 8px;
  }

  &__image {
    border-radius: 50%;
    cursor: pointer;
  }

  &__likes-value-wrapper {
    position: absolute;
    top: 55px;
    left: 67px;
    display: flex;
    align-items: center;
  }

  &__like {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #edeff6;
    cursor: pointer;

    &:hover {
      background-color: #e2e5f2;
    }

    &:hover .companions-list__like-icon {
      opacity: 0.5;
    }

    &:active .companions-list__like-icon {
      opacity: 0.1;
    }

    &--active {
      cursor: pointer;
      background-color: #f9eaea;

      &:hover {
        background-color: #f9d8d8;
      }

      &:hover .companions-list__like-icon--active {
        opacity: 1;
      }

      &:active {
        background-color: #f9d8d8;
      }

      &:active .companions-list__like-icon--active {
        opacity: 0.3;
      }
    }
  }

  &__like-icon {
    background: url("../../img/heart.svg") no-repeat 50% 50%;
    width: 13px;
    height: 11px;
    opacity: 0.3;

    &--active {
      background: url("../../img/heart-active.svg") no-repeat 50% 50%;
      opacity: 1;
    }
  }

  &__likes-value {
    font-size: 14px;
    line-height: 21px;
    color: #161c35;
    font-weight: bold;
  }

  &__title-wrapper {
    position: absolute;
    top: 15px;
    left: 104px;
    display: flex;
    flex-wrap: wrap;

    &:hover .companions-list__online-indicator {
      opacity: 0.6;
    }

    &:active .companions-list__online-indicator {
      opacity: 0.3;
    }
  }

  &__title-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__title {
    margin: 0;
    margin-right: 47px;
    padding: 0;
    width: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #1d2e5b;
    cursor: pointer;
  }

  &__online-indicator {
    position: relative;
    top: 7px;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;

    &--online {
      background-color: #81e31e;
    }

    &--offline {
      background-color: #f97676;
    }
  }

  &__vehicle-wrapper {
    padding-left: 8px;
  }

  &__hashtags {
    margin: 0;
    padding: 0;
    padding-left: 7px;
    width: 190px;
    font-size: 15px;
    line-height: 18px;
    color: #444444;
  }

  &__flags {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    &--petya {
      margin-bottom: 17px;
    }

    &--mark {
      margin-bottom: 14px;
    }

    &--larisa {
      margin-bottom: 17px;
    }
  }
}


@media (min-width: @tab-width) {
  .companions-list {
    &__item {
      padding-top: 35px;
      padding-right: 25px;
      padding-bottom: 21px;
      padding-left: 35px;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 46px;
      }
    }

    &__top-wrapper {
      margin-bottom: 4px;
      margin-right: auto;
    }

    &__wrapper-tablet {
      padding-top: 46px;
      margin-right: auto;
      width: 270px;
      display: flex;
      flex-direction: column;
    }

    &__bottom-wrapper {
      flex-direction: column;
      position: absolute;
      top: 20px;
      right: 26px;
      align-items: flex-end;
    }

    &__image-wrapper {
      margin-right: 33px;
      width: 190px;
    }

    &__image {
      width: 100%;
      border-radius: 18px;
    }

    &__likes-value-wrapper {
      padding-left: 144px;
      position: inherit;
      order: 2;
    }

    &__title-wrapper {
      top: 33px;
      left: 258px;
    }

    &__title {
      display: inline;
      padding-right: 22px;
      margin: 0;
      font-size: 30px;
      line-height: 30px;
    }

    &__online-indicator {
      top: 10px;
    }

    &__like {
      width: 50px;
      height: 50px;
    }

    &__like-icon {
      width: 19px;
      height: 16px;
    }

    &__likes-value {
      font-size: 20px;
      line-height: 30px;
    }

    &__hashtags {
      padding: 0;
      margin-bottom: 45px;
      min-width: 230px;
      font-size: 20px;
      line-height: 24px;
      order: 1;
    }

    &__vehicle-list {
      padding-top: 10px;
      margin-bottom: 9px;
    }

    &__flags-wrapper {
      order: 10;
    }

    &__flags {
      margin: 0;
    }
  }
}

@media (min-width: @desk-width) {
  .companions-list {
    width: 950px;

    &__top-wrapper {
      position: relative;
      margin-bottom: 0;
      margin-right: 40px;

      &::after {
        position: absolute;
        content: "";
        top: 50px;
        left: 616px;
        width: 2px;
        height: 187px;
        background-image: url("../../img/shadow.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }

    &__flags-wrapper {
      order: 5;
    }

    &__title-wrapper {
      top: 47px;
      left: 344px;

      & a {
        order: 10;
      }
    }

    &__online-indicator {
      margin-left: -25px;
      margin-right: 18px;
    }

    &__bottom-wrapper {
      padding-left: 0;
      margin-bottom: 0;
      margin-left: -7px;
      position: inherit;
      align-items: center;
      flex-direction: row;
      order: 10;
    }

    &__wrapper-tablet {
      padding-top: 93px;
    }

    &__desktop-wrapper {
      padding-left: 20px;
      padding-top: 47px;
      padding-bottom: 42px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__vehicle-wrapper {
      margin-right: 46px;
    }

    &__vehicle-list {
      padding-top: 0;
      margin-bottom: 0;
    }

    &__item {
      padding: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 67px;
      }

      &:hover .companions-list__image {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }

    &__image-wrapper {
      margin: 0;
      margin-right: 59px;
      padding: 0;
      width: 285px;
      border-radius: 20px 0 0 20px;
      overflow: hidden;
    }

    &__image {
      display: block;
      height: 100%;
      border-radius: 20px 0 0 20px;
    }

    &__hashtags {
      padding-left: 4px;
      position: relative;
      padding-top: 0;
    }
  }
}
