.country-card {
  position: relative;

  &__wrapper {
    position: relative;
    padding-top: 27px;
    padding-bottom: 21px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -11px;
    background-color: #ffffff;
    border-radius: 10px;
  }

  &__img-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #161c35;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #444444;
    opacity: 0.3;
  }

  &__flag {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    top: -12px;
    left: 25px;
    width: 35px;
    height: 23px;
    border-radius: 3px;
  }

  &__views {
    position: absolute;
    bottom: 35px;
    right: 25px;

    font-size: 16px;
    line-height: 30px;
    color: #444444;
    opacity: 0.3;

    &::before {
      content: "";
      position: absolute;
      background: url("../../img/user.svg") no-repeat 50% 50%;
      width: 10px;
      height: 10px;
      top: 9px;
      left: -18px;
    }
  }

  &__image {
    display: block;
  }
}

@media (min-width: @tab-width) {
  .country-card {
    display: flex;
    width: 100%;

    &__img-wrapper {
      order: 1;
      border-radius: 0 20px 20px 0;
    }

    &__image {
      height: 100%;
    }

    &__wrapper {
      width: 545px;
      padding-left: 31px;
      padding-top: 31px;
      padding-bottom: 64px;
      flex-grow: 1;
      margin-top: 0;
      border-radius: 20px 0 0 20px;
    }

    &__title {
      font-size: 24px;
      line-height: 24px;
    }

    &__description {
      font-size: 20px;
      line-height: 18px;
    }

    &__views {
      padding-left: 30px;
      font-size: 20px;
      line-height: 30px;
      bottom: 16px;
      left: 30px;

      &::before {
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }

    &__flag {
      width: 70px;
      height: 47px;
      top: 16px;
      left: 398px;
      border-radius: 7px;

      & img {
        width: 70px;
        height: 47px;
      }
    }
  }
}


@media (min-width: @desk-width) {
  .country-card {
    &__wrapper {
      width: 255px;
      padding-top: 24px;
      padding-bottom: 71px;
      padding-right: 88px;
    }

    &__img-wrapper {
      width: 186px;
    }

    &__image {
      height: 100%;
    }

    &__title {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
    }

    &__description {
      font-size: 20px;
      line-height: 18px;
    }

    &__views {
      padding-left: 30px;
      font-size: 20px;
      line-height: 30px;

      &::before {
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
      }
    }

    &__flag {
      width: 70px;
      height: 47px;
      border-radius: 6px;
      top: 23px;
      left: 339px;
    }
  }
}
