.country-list {
  list-style: none;

  &--catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;
    color: #1d2e5b;

    &--catalog {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 15px;
      line-height: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__flag-icon {
    display: block;
    width: 26px;
    height: 18px;
    border-radius: 3px;

    &--sri-lanka {
      background-image: url(../../img/flag-sri-lanka.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--thailand {
      background-image: url(../../img/flag-thailand.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--seychelles {
      background-image: url(../../img/flag-seychelles.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--belgium {
      background-image: url(../../img/flag-belgium.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--czech {
      background-image: url(../../img/flag-czech.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--usa {
      background-image: url(../../img/flag-usa.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--australia {
      background-image: url(../../img/flag-australia.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--dominica {
      background-image: url(../../img/flag-dominica.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--united-kingdom {
      background-image: url(../../img/flag-united-kingdom.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }

    &--bosnia {
      background-image: url(../../img/flag-bosnia.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
    }
  }

  &__title {
    padding-left: 15px;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1d2e5b;

    &--catalog {
      display: block;
      padding-top: 3px;
    }
  }
}

@media (min-width: @tab-width) {
  .country-list {
    &--catalog {
      flex-direction: row;
    }

    &__item {
      &--catalog {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 30px;
      margin-right: 30px;
      padding-left: 12px;
    }

    &__flag-icon {
    display: block;
    width: 35px;
    height: 25px;
    border-radius: 3px;
    }
  }
}

@media (min-width: @desk-width) {
  .country-list {
    &--catalog {
      flex-direction: column;
      margin-bottom: 23px;
    }

    &__title {
      padding-left: 74px;
      margin-right: 0;
    }

    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 26px;
      }
    }
  }
}
