.country-list {
  list-style: none;

  &--catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 10px;
    color: #1d2e5b;

    &--catalog {
      font-size: 15px;
      line-height: 18px;
      padding-left: 40px;
    }
  }
}

@media (min-width: @tab-width) {
  .country-list {
    &--catalog {
      flex-direction: row;
    }

    &__item {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desk-width) {
  .country-list {
    &--catalog {
      flex-direction: column;
      margin-bottom: 23px;
    }
  }
}
