.destinations {
  margin-top: -45px;
  padding-top: 102px;
  background-color: #edeff6;

  &__wrapper {
    padding-left: 25px;
    padding-right: 35px;
  }

  &__wrapper-background {
    position: relative;
    padding-bottom: 29px;
    border-radius: 30px;
    background-color: #edeff6;
  }

  &__wrapper-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 19px;
  }

  &__about {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 60px;
    font-weight: lighter;
  }

  &__to-all {
    order: 1;
  }
}

@media (min-width: @tab-width) {
  .destinations {
    margin-top: 0;
    padding-top: 80px;

    &__wrapper {
      padding-right: 310px;
    }
  }
}

@media (min-width: @desk-width) {
  .destinations {
    padding-top: 160px;

    &__wrapper-content {
      flex-direction: row;
    }

    &__wrapper {
      padding-right: 0;
      padding-left: 0;
      width: 350px;
    }

    &__title {
      margin-bottom: 70px;
    }

    &__list {
      margin-left: 70px;
      margin-right: 170px;
      margin-bottom: 0;
      order: -1;
    }

    &__to-all {
      width: 275px;
      align-self: baseline;
      position: relative;
      top: -100px;
      right: -860px;
    }
  }
}
