.destinations {
  margin-top: -45px;
  padding-top: 117px;
  background-color: #edeff6;

  &__wrapper {
    padding-left: 25px;
    padding-right: 35px;
  }

  &__wrapper-background {
    position: relative;
    padding-bottom: 29px;
    border-radius: 30px;
    background-color: #edeff6;
  }

  &__wrapper-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 17px;
    z-index: 10;
  }

  &__title {
    position: relative;
    margin-bottom: 19px;
    z-index: 10;
  }

  &__about {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    margin-bottom: 60px;
    font-weight: lighter;
    z-index: 10;
  }

  &__to-all {
    order: 1;
  }
}

@media (min-width: @tab-width) {
  .destinations {
    margin-top: -60px;
    padding-top: 133px;

    &__wrapper {
      padding-left: 33px;
      padding-right: 310px;
    }

    &__wrapper-background {
      padding-bottom: 82px;
      border-radius: 0 0 60px 60px;
    }

    &__back-square {
      display: block;
      position: absolute;
      top: 333px;
      left: 40px;
      width: 141px;
      height: 141px;
      background-color: #e2e5f2;
      border-radius: 20px;
      z-index: 5;
    }

    &__back-flags {
      display: block;
      position: absolute;
      top: 7px;
      left: 439px;
      width: 289px;
      height: 575px;
      background-image: url("../../img/flags-back@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      border-radius: 20px;
      z-index: 5;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/flags-back@2x.png");
        background-size: contain;
      }
    }

    &__list {
      margin-left: 35px;
      margin-right: 35px;
      margin-bottom: 35px;
    }

    &__title {
      margin-bottom: 58px;
    }

    &__about {
      padding-right: 0;
      margin-bottom: 104px;
      color: #444444;
    }

    &__to-all {
      margin-left: 35px;
      margin-right: 35px;
    }
  }
}

@media (min-width: @desk-width) {
  .destinations {
    margin-top: -55px;
    padding-top: 216px;

    &__wrapper-content {
      flex-direction: row;
    }

    &__wrapper-background {
      padding-bottom: 39px;
    }

    &__wrapper {
      padding-right: 0;
      padding-left: 0;
      width: 350px;
    }

    &__back-square {
      top: -72px;
      left: 60px;
    }

    &__back-flags {
      top: -73px;
      left: 1091px;
    }

    &__title {
      padding-top: 5px;
      margin-bottom: 58px;
    }

    &__list {
      margin-left: 70px;
      margin-right: 170px;
      margin-bottom: 0;
      order: -1;
    }

    &__to-all {
      position: relative;
      margin: 0;
      width: 209px;
      align-self: baseline;
      top: -95px;
      left: 804px;
      z-index: 10;
    }
  }
}
