.flags-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin-right: 18px;
    background-color: #cccccc;
    width: 36px;
    height: 23px;
    border-radius: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}


@media (min-width: @desk-width) {
  .flags-list {
    &__item {
      margin-right: 20px;
      width: 35px;
      height: 24px;
    }
  }
}
