.flags-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    position: relative;
    margin-right: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    width: 36px;
    height: 23px;
    border-radius: 3px;

    &:hover::before {
      display: none;
      position: absolute;
      content: "";
      width: 18px;
      height: 9px;
      top: 26px;
      left: 9px;
      background: url("../../img/triangle-arrow-right.svg") no-repeat 50% 50%;
      transform: rotate(-90deg);
      z-index: 10;
    }

    &:hover::after {
      display: none;
      position: absolute;
      content: "";
      padding: 10px;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      top: 33px;
      left: -15px;
      background-color: #101d41;
      border-radius: 5px;
      z-index: 10;
    }

    &:last-child {
      margin-right: 0;
    }

    &--sri-lanka {
      background-image: url("../../img/flag-sri-lanka.svg");

      &:hover::after {
        content: "Шри-Ланка";
      }
    }

    &--thailand {
      background-image: url("../../img/flag-thailand.svg");

      &:hover::after {
        content: "Тайланд";
      }
    }

    &--seychelles {
      background-image: url("../../img/flag-seychelles.svg");

      &:hover::after {
        content: "Сейшеллские острова";
      }
    }

    &--belgium {
      background-image: url("../../img/flag-belgium.svg");

      &:hover::after {
        content: "Бельгия";
      }
    }

    &--czech {
      background-image: url("../../img/flag-czech.svg");

      &:hover::after {
        content: "Чехия";
      }
    }
  }
}


@media (min-width: @desk-width) {
  .flags-list {
    &__item {
      margin-right: 20px;
      width: 35px;
      height: 24px;

      &:hover::before,
      &:hover::after {
        display: block;
      }
    }
  }
}
