.intro-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &--phone {
      background-color: #ff8d30;

      &:hover {
        background-color: #f26926;
      }
    }

    span {
      background: url("../../img/topmenu-phone.svg") no-repeat 50% 50%;
      width: 18px;
      height: 18px;
    }

    &--email {
      background-color: #ffbd30;

      &:hover {
        background-color: #ff8d30;
      }

      span {
        background: url("../../img/topmenu-mail.svg") no-repeat 50% 50%;
        width: 18px;
        height: 14px;
      }
    }

    &:active span {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tab-width) {
  .intro-list {
    display: none;
  }
}

@media (min-width: @tab-width) {
  .intro-list {
    display: none;
  }
}
