.level-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    position: relative;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 18px;
    color: #444444;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 50px;
      width: 15px;
      height: 1px;
      background-color: #edeff6;
    }
  }
}

@media (min-width: @tab-width) {
  .level-wrapper {
    &__title {
      display: none;
    }
  }
}
