@media (min-width: @tab-width) {
  .link-back {
    min-width: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;

    &__icon {
      background: url(../../img/return.svg) no-repeat 50% 50%;
      width: 32px;
      height: 16px;
    }
  }
}
