.main-nav {
//  display: block;
  display: none;

  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center;

  &__site-list,
  &__user-list,
  &__contacts-list,
  &__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__site-list {
    margin-bottom: 53px;
  }

  &__user-list {
    margin-bottom: 53px;
  }

  &__contacts-list {
    margin-bottom: 53px;
  }
}
