.main-nav {
  display: block;

  padding-top: 45px;
  padding-bottom: 40px;
  text-align: center;

  &__site-list,
  &__user-list,
  &__contacts-list,
  &__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__site-list {
    margin-bottom: 53px;
  }

  &__user-list {
    margin-bottom: 53px;
  }

  &__contacts-list {
    margin-bottom: 53px;
  }
}

@media(min-width: @tab-width) {

  .main-nav {
    padding: 0 60px;
    padding-bottom: 40px;
    text-align: left;

    &__user-list {
      position: absolute;
      top: 15px;
      right: 40px;
      width: 190px;
    }
  }
}

@media(min-width: @desk-width) {

  .main-nav {
    padding: 0;
  }
}
