.map {
  margin-top: -30px;

  &__background {
    background-image: url("../../img/map-mobile_marker@1x.png");
    background-repeat: no-repeat;
    background-position: 0 2%;
    height: 332px;
    background-size: cover;
    display: block;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/map-mobile_marker@2x.png");
      background-size: cover;
    }
  }
}

@media (min-width: @tab-width) {
  .map {
    margin-top: -60px;

    &__background {
      background-image: url("../../img/map-tablet_marker@1x.png");
      height: 576px;
      background-position: 0 20%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/map-tablet_marker@2x.png");
        background-size: cover;
      }
    }

    &__google-iframe {
      height: 576px;
    }
  }
}

@media (min-width: @desk-width) {
  .map {
    &__background {
      background-image: url("../../img/map-desktop_marker@1x.png");
      height: 510px;
      background-position: 0 58%;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../../img/map-desktop_marker@2x.png");
        background-size: cover;
      }
    }

    &__google-iframe {
      height: 510px;
    }
  }
}
