.modal-business-tariffs {
  width: 270px;
  padding-top: 20px;
  margin: 20px auto;

  background-color: #ffffff;
  border-radius: 20px;

  &__wrapper {
    padding: 0 25px;
  }

  &__title {
    margin-bottom: 33px;
    text-align: center;
  }

  &__list {
    margin-bottom: 33px;
  }

  &__button {
    padding: 20px 0;

    width: 100%;
    background-color: #f3f4f8;
    text-align: center;
    vertical-align: center;

    border-radius: 0 0 20px 20px;
    border: none;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1d2e5b;
  }
}

@media(min-width: @tab-width) {

  .modal-business-tariffs {
    width: 688px;

    &__wrapper {
      padding: 0 90px;
    }
  }

}
