.our-services {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  &__item {
    padding: 18px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-top: 1px solid #e1e3e9;

    &:last-of-type {
      border-bottom: 1px solid #e1e3e9;
    }
  }

  &__paragraph {
    padding: 0;
    margin: 0;
    min-width: 200px;

    font-weight: lighter;
  }

  &__number {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #000000;
  }
}
