.our-services {
  list-style: none;

  &__item {
    padding: 18px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__paragraph {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    min-width: 200px;
    border-top: 1px solid #e1e3e9;
    font-weight: lighter;
  }

  &__number {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #000000;
  }
}

@media(min-width: @tab-width) {

  .our-services {

    &__paragraph {
      flex-direction: row;
      justify-content: space-between;
      min-width: 600px;
    }

    &__number {
      order: -1;
    }
  }
}

@media(min-width: @desk-width) {
  .our-services {
    &__item {
      justify-content: flex-start;
    }

    &__paragraph {
      min-width: 815px;
    }

    &__number {
      margin-right: 25px;
    }
  }
}
