.page-header {
  position: relative;
  padding-top: 27px;
  padding-bottom: 150px;

  &--open {
    background-color: #ffffff;
  }

  &--close {
    background-color: #161c35;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__wrapper-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @tab-width) {
  .page-header {
    padding-top: 52px;
    padding-bottom: 70px;
  }
}

@media (min-width: @desk-width) {
  .page-header {
    margin: 0;
    padding: 0;
    padding-top: 49px;
    background-color: #161c34;

    &__wrapper {
      margin: 0;
      padding: 0;
      flex-direction: row;
    }

    &__wrapper-menu {
      margin: 0;
      padding: 0;
      margin-bottom: 0;
      width: 285px;
      margin-right: 40px;
    }
  }
}
