.page-header {
  position: relative;
  padding-top: 27px;
  padding-bottom: 129px;
  background-color: #161c35;

  &--non-index {
    padding-top: 19px;
    padding-bottom: 11px;
    background-color: #161c35;
  }

  &--open {
    background-color: #ffffff;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__wrapper-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @tab-width) {
  .page-header {
    padding-top: 45px;
    padding-bottom: 38px;
    background-color: #182044;

    &--non-index {
      background-color: #161c35;
    }

    &--open {
      background-color: #ffffff;
    }
  }
}

@media (min-width: @desk-width) {
  .page-header {
    margin: 0;
    padding: 0;
    padding-top: 48px;
    background-color: #161c34;

    &__wrapper {
      margin: 0;
      padding: 0;
      align-items: flex-start;
      flex-direction: row;
    }

    &__wrapper-menu {
      margin: 0;
      padding: 0;
      margin-bottom: 0;
      width: 285px;
      margin-right: 40px;
    }
  }
}
