.people-list {
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: 10px;
  }
}

@media (min-width: @tab-width) {
  .people-list {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desk-width) {
  .people-list {
    min-width: 630px;

    &__item {
      margin-bottom: 0;
    }
  }
}
