.people-card {
  position: relative;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;

  &__image {
    display: block;
  }

  &__flags-list {
    position: absolute;
    top: 258px;
    left: 0;
  }

  &__wrapper {
    padding-top: 27px;
    padding-bottom: 22px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #161c35;

    &--online {
      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: forestgreen;
      }
    }

    &--offline {
      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: darkred;
      }
    }
  }

  &__hashtags {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: #000000;
    font-size: 16px;
    line-height: 18px;
  }
}

@media(min-width: @tab-width) {
  .people-card {
    width: 270px;
  }
}
