.people-card {
  position: relative;
  text-align: center;
  z-index: 10;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  &:hover .people-card__image {
    transform: scale(1.08);
    transition: 350ms;
  }

  &__image-wrapper {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  &__image {
    display: block;
  }

  &__flags-list {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 259px;
    left: 0;
  }

  &__wrapper {
    padding-top: 26px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
  }

  &__title-wrapper {
    width: 100%;
    padding-right: 16px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0;

    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    color: #1d2e5b;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__indicator-index {
    margin-right: 12px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    &--online {
      background-color: #81e31e;
    }

    &--offline {
      background-color: #f97676;
    }
  }

  &__level {
    position: absolute;
    top: 17px;
    left: 17px;
  }


  &__hashtags {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

    color: #444444;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @tab-width) {
  .people-card {
    width: 285px;

    &__wrapper {
      padding: 30px;
      padding-bottom: 19px;
      border-radius: 0 0 20px 20px;
    }

    &__image-wrapper {
      border-radius: 20px 20px 0 0;
    }

    &__image {
      width: 100%;
    }

    &__level {
      top: 22px;
      left: 20px;
    }

    &__flags-list {
      top: 273px;
    }

    &__title-wrapper {
      padding-right: 22px;
      margin-bottom: 22px;
    }

    &__title {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
    }

    &__indicator-index {
      margin-right: 15px;
      width: 7px;
      height: 7px;
    }

    &__hashtags {
      margin-bottom: 18px;
      font-size: 20px;
      line-height: 24px;
      font-weight: normal;
    }
  }
}
