.review {
  &__text {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }

  &__author {
    font-weight: bold;
    font-style: normal;
  }
}

@media (min-width: @desk-width) {
  .review {
    &__author {
      font-size: 21px;
      line-height: 25px;
    }
  }
}
