.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &--footer {
      background-color: #ffd74b;

      svg {
        fill: #192144;
      }

      &:hover {
        background-color: #192144;

        svg {
          fill: #ffffff;
        }
      }

      &:active {
        svg {
          opacity: 0.3;
        }
      }
    }

    &--header {
      background-color: #ffffff;
    }

    &--fb span {
      background: url("../../img/facebook.svg") no-repeat 50% 50%;
      width: 11px;
      height: 22px;
    }

    &--vk span {
      background: url("../../img/vk.svg") no-repeat 50% 50%;
      width: 23px;
      height: 13px;
    }

    &--insta span {
      background: url("../../img/instagram.svg") no-repeat 50% 50%;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: @tab-width) {
  .social-list {
    justify-content: flex-start;

    &__item {
      width: 60px;
      height: 60px;

      &--fb span {
        width: 15px;
        height: 30px;
      }

      &--vk span {
        width: 32px;
        height: 16px;
      }

      &--insta span {
        width: 24px;
        height: 24px;
      }

      &--fb svg {
        width: 15px;
        height: 30px;
      }

      &--vk svg {
        width: 32px;
        height: 16px;
      }

      &--insta svg {
        width: 24px;
        height: 24px;
      }
    }

    &--non-index {
      display: none;
    }
  }
}

@media (min-width: @desk-width) {
  .social-list {
    display: none;

    &--footer {
      display: flex;
    }

    &__item {
      width: 60px;
      height: 60px;

      &--fb svg {
        width: 15px;
        height: 30px;
      }

      &--vk svg {
        width: 32px;
        height: 16px;
      }

      &--insta svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
