.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--footer {
      background-color: #ffd74b;
      cursor: pointer;

      &:hover {
        background-color: #192144;

        .social-list__icon {
          fill: #ffffff;
        }
      }

      &:active .social-list__icon {
        opacity: 0.3;
      }
    }

    &--header {
      background-color: #ffffff;
      cursor: pointer;
    }
  }

  &__icon {
    fill: #cccccc;

    &--footer {
      fill: #1d2e5b;
    }
  }
}

@media (min-width: @tab-width) {
  .social-list {
    justify-content: flex-start;

    &__item {
      width: 60px;
      height: 60px;
    }

    &__icon--fb {
      width: 15px;
      height: 30px;
    }

    &__icon--vk {
      width: 32px;
      height: 16px;
    }

    &__icon--insta {
      width: 24px;
      height: 24px;
    }

    &--non-index {
      display: none;
    }
  }
}

@media (min-width: @desk-width) {
  .social-list {
    display: none;

    &--footer {
      display: flex;
    }
  }
}
