.tariffs {
  padding-top: 68px;
  padding-bottom: 30px;
  margin-top: -30px;
  background-color: #edeff6;
  color: #000000;
  border-radius: 0 0 30px 30px;

  &__wrapper {
    position: relative;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-left {
    padding-left: 25px;
    padding-bottom: 5px;
  }

  &__list {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
  }

  &__business-wrapper {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__business-tariffs {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #192144;
  }

  &__business-image {
    display: none;
  }
}


@media (min-width: @tab-width) {
  .tariffs {
    margin-top: -55px;
    padding-top: 130px;
    border-radius: 0 0 60px 60px;

    &__wrapper {
      margin-bottom: 71px;
      justify-content: center;
    }

    &__wrapper-left {
      position: relative;
      padding-left: 0;
      padding-bottom: 33px;
      z-index: 10;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__image {
      position: absolute;
      top: 334px;
      right: 45px;
    }

    &__business-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__business-tariffs {
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__business-image {
      margin-right: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      background-color: #e2e5f2;
      border-radius: 50%;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__business-image span {
      background: url("../../img/business.svg") no-repeat 50% 50%;
      width: 18px;
      height: 22px;
    }

    &__back-square {
      position: absolute;
      width: 198px;
      height: 285px;
      top: 81px;
      right: 90px;
      background-color: #e2e5f2;
      border-radius: 20px;
      z-index: 5;
    }
  }
}


@media (min-width: @desk-width) {
  .tariffs {
    padding-top: 162px;
    padding-bottom: 133px;

    &__wrapper {
      justify-content: center;
      margin-bottom: 130px;
    }

    &__business-wrapper {
      margin-left: 71px;
    }

    &__list {
      margin-left: 71px;
    }

    &__image {
      width: 200px;
      height: 200px;
      top: 178px;
      right: 73px;
    }

    &__back-square {
      width: 444px;
      height: 300px;
      top: 126px;
      right: 243px;
    }
  }
}
