.tariffs {
  padding-top: 95px;
  padding-bottom: 30px;
  margin-top: -30px;
  background-color: #edeff6;
  color: #000000;

  &__wrapper {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper-left {
    padding-left: 35px;
    padding-bottom: 38px;
  }

  &__list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  &__business-wrapper {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__business-tariffs {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: #192144;
  }

  &__business-image {
    display: none;
  }
}


@media (min-width: @tab-width) {
  .tariffs {
    &__wrapper {
      justify-content: center;
    }

    &__wrapper-left {
      padding-bottom: 130px;
    }

    &__list {
      margin-bottom: 60px;
    }

    &__image {
      position: absolute;
      top: 295px;
      right: 50px;
    }

    &__business-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &__business-tariffs {
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__business-image {
      margin-right: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      background-color: #e2e5f2;
      border-radius: 50%;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__business-image span {
      background: url("../../img/business.svg") no-repeat 50% 50%;
      width: 18px;
      height: 22px;
    }
  }
}


@media (min-width: @desk-width) {
  .tariffs {
    &__wrapper {
      justify-content: flex-start;
    }

    &__image {
      width: 205px;
      height: 205px;
      top: 85px;
    }
  }
}
