.user-list {
  &__login-button {
    text-align: center;
    vertical-align: middle;
    background-color: #ffd74b;
    border-radius: 25px;

    &:hover {
      background-color: #ffbd30;
    }

    &:active {
      background-color: #ffbd30;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    color: #161c35;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;

    &:active {
      opacity: 0.3;
    }
  }
}
