.wrapper-menu {
  padding: 27px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__toggle {
    border: none;

    &--open {
      background: url("../img/menu-close.svg") no-repeat 50% 50%;
      width: 20px;
      height: 20px;
    }
  }
}

@media(min-width: @tab-width) {
  .wrapper-menu {
    width: 350px;
  }
}
