.wrapper-menu {
  &__logo {
    cursor: pointer;
    display: block;

    &--close {
      display: none;
    }
  }

  &__toggle {
    border: none;
    cursor: pointer;
    padding-top: 16px;
    background: url("../../img/menu.svg") no-repeat 50% 50%;
    width: 25px;
    height: 12px;

    &--open {
      background: url("../../img/menu-close.svg") no-repeat 50% 50%;
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: @tab-width) {
  .wrapper-menu {
    width: 358px;

    &__toggle {
      padding-top: 40px;

      &--open {
        height: 37px;
      }
    }

    &__logo img {
      width: 164px;
      height: 42px;
    }
  }
}

@media (min-width: @desk-width) {
  .wrapper-menu {
    position: relative;
    width: 305px;
    padding: 0;

    &__logo {
      &::after {
        position: absolute;
        content: "";
        top: 26px;
        right: 5px;
        width: 60px;
        height: 2px;
        background-color: #ffffff;
      }
    }

    &__logo img {
      width: 200px;
      height: 52px;
    }

    &__toggle {
      display: none;
    }
  }
}
