.intro {
  padding-top: 20px;
  position: relative;

  background-color: #161c36;
  color: #ffffff;

  &__wrapper {
    background: url(../img/globe-back-mobile@1x.jpg) no-repeat 50% 50%;
    width: 320px;
    height: 400px;
  }

  &__wrapper-1 {
    position: absolute;
    background: url(../img/traveller-illustration-mobile@1x.png);
    width: 192px;
    height: 255px;
    background-repeat: no-repeat;
    transform: translate(50px, 147px);
  }

  &__header {
    text-align: center;
  }

  &__slogan {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
  }

  &__list {
    position: relative;
    margin-top: -20px;
  }

  &__review {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-top: 30px;
    margin-bottom: 115px;
  }

  &__instruction {
    padding-bottom: 38px;
  }
}
